p {
	text-align: center;
	font-size: 0.8rem;
	font-weight: '900';
}

.ability-card-container {
	max-width: 200px;
	padding: 4px;
}

.border-container {
	position: absolute;
}

.modifier-score-container {
	border-top: 1.5px solid gray;
	background-color: white;
	width: max-content;
	padding: 8px 16px 0 16px;
	margin: auto;
}

.modifier-score-border-container {
	position: absolute;
}

.modifier-score-border-right {
	border-radius: 60%;
	border-left: 1.5px solid gray;
	border-bottom: 1.5px solid gray;
	position: relative;
	right: -105px;
	top: -130px;
	height: 300px;
	width: 300px;
}

.modifier-score-border-left {
	border-radius: 60%;
	border-right: 1.5px solid gray;
	border-bottom: 1.5px solid gray;
	position: relative;
	left: -105px;
	top: -130px;
	height: 300px;
	width: 300px;
}


/* .corner-top-right {
	z-index: 100;
	height: 40px;
	width: 40px;
	right: -167px;
	top: -27px;
	border-radius: 12px;
	--color: black;
	position: relative;
	border: 3px solid var(--color);
}

.corner-top-left {
	z-index: 100;
	height: 40px;
	width: 40px;
	left: -27px;
	top: -167px;
	border-radius: 12px;
	--color: black;
	position: relative;
	border: 3px solid var(--color);
} */