p {
	text-align: center;
	font-size: 0.8rem;
	font-weight: '900';
}

.ability-card-container {
	max-width: 200px;
	padding: 4px;
}

.ability-card-container-inner {
	position: relative;
	max-width: 200px;
	border-radius: 8px;
	background-color: white;
}

/* .ability-card-container {
	position: relative;
	max-width: 200px;
	border-radius: 8px;
	background-color: white;
} */
.ability-card-container-inner::after, .ability-card-container-inner::before {
	content: '';
	position: absolute;
	height: 90%;
	width: 90%;
	background-color: blue;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	z-index: -1;
	padding: -20px
}

.ability-card-container-inner::before {
	filter: blur(1.5rem);
	opacity: 0.5;
}
